[submodule "lib/WebSocket.ahk"]
	path = lib/WebSocket.ahk
	url = https://github.com/mark-wiemer/WebSocket.ahk.git
[submodule "lib/AutoHotkey-JSON"]
	path = lib/AutoHotkey-JSON
	url = https://github.com/mark-wiemer/AutoHotkey-JSON.git
